@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

body{
    font-family: PT Sans, sans-serif;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    background-color: #F2F2F2;
    height: 100%;
}

.container{
    padding-left: 70px;
    padding-right: 70px;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-page{
    flex: 1 0 auto;
}
  
.footer{
    flex: 0 0 auto;
}

img{
    max-width: 100%;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.active--page{
    border-bottom: 2px solid #756257;
}

.header__btn{
    border: none;
    cursor: pointer;
    font-family: PT Sans;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: #756257;
    min-width: 160px;
    height: 37px;
    border-radius: 4px;
    transition: 0.2s;
}

.btn--modal-active{
    display: none;
}

.header{
    z-index: 1;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-inner{
    display: flex;
}

.header__logo{
    display: block;
    margin-right: 47px;
}

.header__menu-list{
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    padding: 0;
}

.header__menu-list-item{
    position: relative;
    margin-right: 35px;
    transition: 0.2s;
    list-style: none;
    height: 100%;
}

.header__menu-list-link{
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
    height: 100%;
    padding: 18px 0;
    white-space: nowrap;
}

.header__menu-list-link:hover{
    color: #756257;
}

.header__menu-list-link:active{
    color: #756257;
    opacity: 0.3;
}

.header__btns-inner{
    display: flex;
    align-items: center;
    margin-top: -9px;
}

.header__btns-search{
    margin-right: 22px;
    margin-bottom: -4px;
    transition: 0.2s;
}

.header__btns-favorite{
    margin-right: 31px;
    margin-bottom: -6px;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}

.header__btns-favorite-curcle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    right: -13px;
    background: #7DB550;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
}

.header__search-btn,
.header__favorite-btn{
    transition: 0.2s;
}

.header__search-btn:hover,
.header__favorite-btn:hover{
    fill: #756257;
}

.header__search-btn:focus-visible,
.header__favorite-btn:focus-visible{
    outline: 3px solid #83B3D3;
}

.header__btns-favorite:focus-visible{
    outline: 3px solid #83B3D3;
}

.header__btns-favorite:active,
.header__search-btn:active,
.header__favorite-btn:active{
    fill: #756257;
    opacity: 0.3;
}

.header__btn:hover{
    background: #615048;
}

.header__btn:focus-visible{
    outline: 3px solid #83B3D3;
}

.header__btn:active{
    color: rgba(255, 255, 255, 0.3);
}

.welcome{
    margin-top: -9px;
    text-align: center;
    padding: 51px 0 83px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.welcome__img{
    margin: 0 auto;
}

.reasons{
    padding-top: 58px;
}

.reasons > .title{
    margin: 0 auto 31px;
    max-width: 700px;
    padding: 0 10px;
}

.reasons__subtitle{
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 80px;
    padding: 0 10px;
}

.reasons__real-item-wrapper,
.reasons__icons-item-wrapper,
.reasons__devil-item-wrapper,
.reasons__numbers-item-wrapper{
    max-width: 250px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.reasons__real{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.reasons__real-item-wrapper{
    padding-top: 74px;
}

.reasons__real-item-wrapper > .reasons__item-subtitle{
    max-width: 220px;
    padding-left: 10px;
}

.reasons__icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reasons__icons-item-wrapper{
    padding-top: 62px;
}

.reasons__icons-item-wrapper > .reasons__item-subtitle{
    margin-top: -4px;
}

.reasons__devil{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.reasons__devil-item-wrapper{
    padding-top: 75px;
}

.reasons__numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reasons__numbers-item-wrapper{
    padding-top: 74px;
}

.reasons__item{
    min-height: 384px;
    text-align: center;
    color: #333;
}

.reasons__item-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000;
}

.reasons__item-number{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0 12px;
    display: block;
}
.reasons__item-subtitle{
    font-size: 18px;
    line-height: 21px;
}

.reasons__item-img{
    display: block;
    object-fit: cover;
}

.reasons__item--house::before,
.reasons__item--food::before,
.reasons__item--gift::before{
    content: '';
    display: block;
    margin: 0 auto 23px;
    width: 70px;
    height: 75px;
}

.reasons__item--house::before{
    background-image: url(../images/icons/house.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.reasons__item--food::before{
    background-image: url(../images/icons/food.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.reasons__item--gift::before{
    background-image: url(../images/icons/gift.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.reasons__item--deep-blue{
    background-color: #83B3D3;
    color: #fff;
}

.reasons__item--middle-blue{
    background: rgba(131, 179, 211, 0.2);
}

.reasons__item--light-blue{
    background: rgba(131, 179, 211, 0.12);
}

.search{
    padding: 60px 10px 93px;
}

.search > .title{
    margin-bottom: 29px;
}

.search > .subtitle{
    margin-bottom: 56px;
}

.search__button{
    display: block;
    max-width: 575px;
    background: #756257;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding: 12px 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.2s;
    text-decoration: none;
}

.search__button:hover{
    background: #615048;
}

.search__button:focus-visible{
    outline: 3px solid #83B3D3;
}

.search__button:active{
    color: rgba(255, 255, 255, 0.3);
    background: #615048;
}

.subscription{
    padding: 64px 0 93px;
    background-image: url(../images/subscription.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.subscription .title{
    margin-bottom: 29px;
    color: #fff;
}

.subscription .subtitle{
    margin: 0 auto 46px;
    max-width: 500px;
    color: #fff;
}

.subscription__form{
    display: flex;
    justify-content: center;
    height: 60px;
    margin: 0 10px;
}

.subscription__form-input{
    width: 600px;
    background: #F2F2F2;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 0 22px;
    color: #000000;
    transition: 0.2s;
}

.subscription__form-input::placeholder{
    font-family: PT Sans;
    font-size: 18px;
    line-height: 26px;  
    color: #000000;
    opacity: 0.6;
}

.subscription__form-input:hover{
    background: #E6E6E6;
}

.subscription__form-input:focus-visible{
    outline: 3px solid #83B3D3;
}

.subscription__form-input:invalid{
    background: #FFFFFF;
    outline: 2px solid #FF5757;
}

.subscription__form-button{
    background: #83B3D3;
    width: 200px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.subscription__form-button:hover{
    background: #68A2CA;
}

.subscription__form-button:focus-visible{
    outline: 3px solid #756257;;
}

.subscription__form-button:active{
    color: rgba(255, 255, 255, 0.3);
    background: #68A2CA;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 119px;
}

.footer__social{
    display: flex;
    justify-content: space-between;
    flex-basis: 108px;
    flex-grow: 0.065;
    padding: 0;
    list-style: none;
}

.footer__social-li{
    margin-right: auto;
}

.footer__social-twetter,
.footer__social-facebook,
.footer__social-youtube{
    transition: 0.2s;
} 

.footer__social-twetter:hover,
.footer__social-facebook:hover,
.footer__social-youtube:hover{
    fill: #68A2CA;
}

.footer__social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 100%;
    border-radius: 5px;
    transition: 0.2s;
}

.footer__social-item:focus-visible{
    outline: 3px solid #83B3D3;
}

.footer__social-twetter:active,
.footer__social-facebook:active,
.footer__social-youtube:active{
    fill: #68A2CA;
    opacity: 0.3;
}

.footer__telephone-link{
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    width: 358px;
    height: 67px;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
    margin-left: 50px;
}

.footer__telephone-link:hover{
    color: #756257;
}

.footer__telephone-link:focus-visible{
    color: #756257;
    outline: 3px solid #83B3D3;
}

.footer__telephone-link:active{
    color: #756257;
    opacity: 0.3;
}

.footer__academy{
    width: 157px;
    height: 67px;
    display: flex;
    
    border-radius: 10px;
}

.footer__academy-logo{
    margin-left: auto;
    align-self: center;
    transition: 0.2s;
}

.footer__academy-logo:hover{
    fill: #756257;
}

.footer__academy:focus-visible{
    fill: #756257;
    outline: 3px solid #83B3D3;
}

.footer__academy-logo:active{
    fill: #756257;
    opacity: 0.3;
}

/* Catalog */

.catalog-top{
    background-image: url(../images/catalog-background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: -9px;
    margin-bottom: 19px;
    padding-top: 30px;
    padding-bottom: 66px;
    color: #fff;
}

.catalog-bar__title{
    margin: 0;
    font-weight: bold;
    font-size: 60px;
    line-height: 66px;
    margin-top: 10px;
}

.breadcrumbs{
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
    margin-left: 2px;
}

.breadcrumbs__link{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs__item{
    transition: 0.2s
}

.breadcrumbs__item + .breadcrumbs__item{
    margin-left: 26px;
}

.breadcrumbs__item:not(:first-child){
    position: relative;
}


.breadcrumbs__item + .breadcrumbs__item:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -17px;
    transform: translate(50%,-50%);
    width: 5px;
    height: 8px;
    background-image: url(../images/icons/arrow-right.svg);
}

.breadcrumbs__item:hover{
    opacity: 0.6;
}

.breadcrumbs__item:active{
    opacity: 0.3;
}

.catalog-top__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.catalog-top__form-inner-check{
    display: flex;
}

.catalog-top__form-infra,
.catalog-top__form-house{
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-top__form-infra{
    width: 219px;
}

.catalog-top__form-infra-title,
.catalog-top__form-house-title{
    padding: 0;
    margin-bottom: 30px;
}

.catalog-top__form-infra-list,
.catalog-top__form-house-list{
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

.catalog-top__form-infra-title,
.catalog-top__form-house-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-top__form-infra-item:not(:last-child),
.catalog-top__form-house-item:not(:last-child){
    margin-bottom: 11px;
}

.catalog-top__form-infra-word,
.catalog-top__form-house-word{
    position: relative;
    font-size: 18px;
    line-height: 23px;
}

.catalog-top__form-infra-mark{
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
    transition: 0.2s;
}

.catalog-top__form-house-mark{
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    transition: 0.2s;
}

.catalog-top__form-infra-label,
.catalog-top__form-house-label{
    padding-left: 41px;
    transition: 0.2s;
}

.catalog-top__form-infra-item:hover .catalog-top__form-infra-mark,
.catalog-top__form-house-item:hover .catalog-top__form-house-mark{
    opacity: 0.6;
}

.catalog-top__form-infra-item:hover .catalog-top__form-infra-label,
.catalog-top__form-house-item:hover .catalog-top__form-house-label{
    opacity: 0.6;
}

.catalog-top__form-infra-checkbox:disabled + .catalog-top__form-infra-mark,
.catalog-top__form-house-radio:disabled + .catalog-top__form-house-mark{
    opacity: 0.4;
}

.catalog-top__form-infra-item:disabled .catalog-top__form-infra-label,
.catalog-top__form-house-item:disabled .catalog-top__form-house-label{
    opacity: 0.4;
}

.catalog-top__form-infra-checkbox[type="checkbox"]:checked + .catalog-top__form-infra-mark::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url(../images/icons/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: 4px;
    top: 3px;
}

.catalog-top__form-house-radio[type="radio"]:checked + .catalog-top__form-house-mark::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
    top: 5px;
    left: 5px;
}

.catalog-top__form-inner-pricebtn{
    display: grid;
    grid-template-columns: 287px 1fr;
}

.catalog-top__form-price{
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.catalog-top__form-price-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    padding: 0;
    margin-bottom: 36px;
}

.catalog-top__form-price-inner{
    display: flex;
    width: 100%;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.catalog-top__form-price-min,
.catalog-top__form-price-max{
    position: relative;
    background-color: transparent;
    border: none;
    width: 50%;
    padding: 17px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.catalog-top__form-price-min[type=number]::-webkit-inner-spin-button, 
.catalog-top__form-price-min[type=number]::-webkit-outer-spin-button,
.catalog-top__form-price-max[type=number]::-webkit-inner-spin-button, 
.catalog-top__form-price-max[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.catalog-top__form-price-max{
    border-left: 2px solid #fff;
}

.catalog-top__form-price-min:hover,
.catalog-top__form-price-max:hover{
    opacity: 0.6;
}

.catalog-top__form-price-min:active,
.catalog-top__form-price-max:active{
    outline: 3px solid #83B3D3;
}

.catalog-top__form-price-range{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
}

.catalog-top__form-price-range{
    position: relative;
    height: 4px;
    width: 100%;
    background: rgba(255, 255, 300, 0.3);
    margin-bottom: 26px;
}

.catalog-top__form-price-range-inner{
    position: absolute;
    height: 4px;
    width: 80%;
    background: #FFFFFF;
}

.catalog-top__form-price-range-min,
.catalog-top__form-price-range-max{
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    top: -8px;
    transition: 0.2s
}

.catalog-top__form-price-range-min:hover,
.catalog-top__form-price-range-max:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.catalog-top__form-price-range-min:active,
.catalog-top__form-price-range-max:active{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    outline: 3px solid #83B3D3;
}

.catalog-top__form-price-range-min:focus,
.catalog-top__form-price-range-max:focus{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    outline: 3px solid #83B3D3;
}

.catalog-top__form-price-range-max{
    right: 0;
} 

.ctalog-top__form-buttons{
    margin-top: 61px;
    margin-left: auto;
    margin-bottom: 0;
}

.catalog-top__form-apply-btn,
.catalog-top__form-reset-btn{
    display: block;
    height: 48px;
}

.catalog-top__form-apply-btn{
    background-color: #83B3D3;
    transition: 0.2s;
    margin-bottom: 6px;
}

.catalog-top__form-apply-btn:hover{
    background: #68A2CA;
}

.catalog-top__form-apply-btn:focus-visible{
    outline: 3px solid #FFFFFF;;
}
.catalog-top__form-apply-btn:active > .catalog-top__form-apply-link{
    color: rgba(255, 255, 255, 0.3);
}

.catalog-top__form-apply-link{
    text-decoration: none;
    line-height: 21px;
    color: #fff;
}

.catalog-top__form-reset-btn{
    background-color: transparent;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 6px;
}

.catalog-top__form-reset-btn:hover{
    background-color: transparent;
    opacity: 0.6;
}

.catalog__hat{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 28px;
}

.catalog__hat-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog__hat-header{
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.catalog--select{
    font-family: PT Sans;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 19px;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    appearance: none;
    background-image: url(../images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center right 21px;
    transition: 0.2s;
}

.catalog__hat-menu-item{
    transition: 0.2s;
}

.catalog--select:hover,
.catalog__hat-menu-item:hover{
    border: 2px solid #83B3D3;
}

.catalog--select:active{
    opacity: 0.3;
}

.catalog__hat-menu-item:active{
    border: 2px solid #000000;
}

.catalog--select:focus-visible,
.catalog__hat-menu-item:focus-visible{
    outline: 2px solid #83B3D3;
}

.catalog__hat-select-inner{
    width: 287px;
    height: 48px;
}

.catalog__hat-menu-item{
    color: #333333;
    width: 49px;
    height: 49px;
    padding: 15px;
    background-color: transparent;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

.catalog__hat-menu-item:not(:last-child){
    margin-right: 3px;
}

.catalog-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 34px;
    height: 100%;
}

.catalog-content__card{
    width: 340px;
    padding: 20px;
}

.catalog-content__card-imagie{
    display: block;
    margin-bottom: 16px;
    transition: 0.2s;
}

.catalog-content__card-imagie:hover{
    opacity: 0.6;
}

.catalog-content__card-imagie:focus-visible{
    outline: 3px solid #83B3D3;
}

.catalog-content__card-imagie:active{
    opacity: 0.3;
}

.catalog-content__card-title{
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.catalog-content__card-inner{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    row-gap: 11px;
    margin-bottom: 16px;
}

.catalog-content__card-type,
.catalog-content__card-price,
.catalog-content__card-btn,
.catalog-content__card-favorite{
    height: 37px;
    width: 140px;
}

.catalog-content__card-type,
.catalog-content__card-price{
    font-size: 18px;
    line-height: 23px; 
    padding: 10px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.catalog-content__card-btn,
.catalog-content__card-favorite{
    margin: 0;
    padding: 0;
}

.catalog-content__card-link,
.catalog-content__card-favorite{
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.catalog-content__card-btn{
    background: #756257;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
}

.catalog-content__card-btn:hover{
    background: #615048;
}

.catalog-content__card-btn:focus-visible{
    outline: 3px solid #83B3D3;
}

.catalog-content__card-btn:active{
    background: #615048;
}

.catalog-content__card-btn:active > .catalog-content__card-link{
    color: rgba(255, 255, 255, 0.3);
}

.catalog-content__card-favorite{
    color: #fff;
    border: none;
    border-radius: 4px;
    background: #83B3D3;
    transition: 0.2s;
}

.catalog-content__card-favorite:hover{
    background: #68A2CA;
    border: 1px solid #756257;  
}

.catalog-content__card-favorite:focus-visible{
    background: #68A2CA;
    outline: 3px solid #756257;
}

.catalog-content__card-favorite:active{
    background: #68A2CA;
    border: 1px solid #756257;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-content__favorite--active{
    background: #7DB54F;
}

.catalog-content__favorite--active:hover{
    background: #6C9E42;
}

.catalog-content__favorite--active:focus-visible{
    background: #6C9E42;
    border: 3px solid #756257;
}

.catalog-content__favorite--active:active{
    color: rgba(255, 255, 255, 0.3);
}

.catalog-content__card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
}

.catalog-content__card-raiting{
    height: 100%;
    width: 160px;
    background: #F2F2F2;
    border: none;
    border-radius: 4px;
}

.catalog-content__card-raiting-link{
    display: block;
    font-family: PT Sans;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    margin-top: 7px;
    height: 100%;
    width: 100%;
}

.catalog__download{
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 29px 0;
    margin-bottom: 14px;
}

.catalog__download-button{
    display: block;
    width: 620px;
    height: 60px;
    border: none;
    border-radius: 4px;
    background: #83B3D3;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    transition: 0.2s;
}

.catalog__download-button:hover{
    background: #68A2CA;
}

.catalog__download-button:focus-visible{
    outline: 3px solid #FFFFFF;
}

.catalog__download-button:active{
    color: rgba(255, 255, 255, 0.3);
}

.catalog__pagination{
    display: flex;
    justify-content: space-between;
}

.catalog__pagination-list{
    display: flex;
    list-style: none;
    padding: 0;
}

.catalog__pagination-list-item{
    width: 55px;
    height: 55px;
}

.catalog__pagination-list-item:not(:last-child){
    margin-right: 8px;
}

.catalog__pagination-number{
    width: 100%;
    height: 100%;
    background: #83B3D3;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s;
}

.catalog__pagination-number:hover{
    background: #68A2CA;
}

.catalog__pagination-number:focus-visible{
    outline: 3px solid #756257;;
}

.catalog__pagination-number:active{
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.catalog__pagination--active,
.catalog__pagination--active:hover,
.catalog__pagination--active:focus-visible,
.catalog__pagination--active:active{
    cursor: default;
    color: #000;
    background: #F2F2F2;
}

.catalog__pagination-nowmuch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    width: 386px;
}

.catalog__pagination-nowmuch-title{
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.catalog__pagination-nowmuch-list{
    width: 160px;
    height: 48px;
    padding-left: 13px;
}

.subscription--catalog{
    background-image: none;
    padding-top: 32px;
    padding-bottom: 142px;
}

.subscription--catalog .title,
.subscription--catalog .subtitle{
    padding: 0;
    color: #000;
}

.subscription--catalog .title{
    margin-bottom: 46px;
}

.modal__close-button--disabled{
    visibility: hidden;
}

.modal{
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal__inner{
    width: 715px;
    height: 561px;
    background-color: #fff;
    margin: 15vh auto;
    padding: 62px 70px 70px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    position: relative;
    font-weight: 700;
}

.modal__close-button{
    position: absolute;
    width: 53px;
    height: 53px;
    border: none;
    border-radius: 50%;
    top: 54px;
    right: 70px;
}

.modal__close-button svg{
    margin-top: 3px;
}

.modal__close-button:hover{
    background: #E6E6E6;
}

.modal__close-button:focus-visible{
    background: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal__close-button:active svg{
    opacity: 0.3;
}

.modal__content{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 40px;
}

.modal__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 60px;
    padding-right: 53px;
}

.modal__item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 40px;
}

.modal__item-title{
    margin-top: 5px;
}

.modal__item-date--warning{
    color: #FF5757;
}

.modal__item-date{
    min-width: 420px;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
    padding-left: 19px;
    padding-right: 17px;
    cursor: pointer;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000;
}

.modal__item-date:hover{
    background: #E6E6E6;
}

.modal__item-date:focus-visible{
    background: #E6E6E6;
    outline: 3px solid #83B3D3;;
}

.modal__item-date:active{
    background: transparent;
    border: 2px solid #000000;
}

.modal__item-date-subtitle{
    display: none;
    position: absolute;
    left: 155px;
    bottom: -49px;
    font-size: 15px;
    font-weight: 400;
}

.modal__family{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    margin-bottom: 40px;
}

.modal__adult-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__children-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal__family-number{
    position: relative;
    width: 133px;
    height: 100%;
}

.modal__family-adult,
.modal__family-children{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
}

.modal__family-number-minus,
.modal__family-number-plus{
    position: absolute;
    top: 17px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.modal__family-number-minus{
    left: 13px;
}

.modal__family-number-plus{
    right: 13px;
}

.modal__family-adult[type=number]::-webkit-inner-spin-button, 
.modal__family-adult[type=number]::-webkit-outer-spin-button,
.modal__family-children[type=number]::-webkit-inner-spin-button, 
.modal__family-children[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.modal__family-info{
    position: relative;

}

.modal__family-info-icon{
    display: block;
    width: 25px;
    height: 25px;
    background: #83B3D3;
    border-radius: 50%;
    color: #fff;
    margin: auto 18px auto 11px;
    text-align: center;
    font-size: 11px;
    line-height: 9px;
    padding: 9px;
    cursor: pointer;
}

.modal__family-info-text{
    position: absolute;
    width: 256px;
    height: 153px;
    left: -105px;
    top: 16px;
    box-shadow: 7px 21px 13px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-image: url(../images/info.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 30px 15px 30px 24px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal__family-info:hover .modal__family-info-text{
    visibility: visible;
    opacity: 1;
}

.modal__button{
    width: 100%;
    height: 60px;
    background: #83B3D3;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal__button:hover{
    background: #68A2CA;
}

.modal__button:focus-visible{
    outline: 3px solid #FFFFFF;
}

.modal__button:active{
    color: rgba(255, 255, 255, 0.3);
}